@model SSVH_Consultation_Poratl.Models.CreateConsultationViewModel

@{
    ViewData["Title"] = "Edit Consultation Page";
}

<div class="row">
    <div class="col-12">
        <div class="custom-table">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />
                @* <input type="hidden" asp-for="Status" /> *@
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="CreatedOn" />
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center mb-5">Create Consultation</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group custom-labels">
                            <div class="form-group custom-labels">
                                <input asp-for="AcadamicYear" class="form-control" autocomplete="off" placeholder="" />
                                <label asp-for="AcadamicYear" class="control-label">Academic Year</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group custom-labels">
                            <input asp-for="StudentName" class="form-control" autocomplete="off" placeholder="" />
                            <label asp-for="StudentName" class="control-label">Student Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group custom-labels">
                            <input asp-for="ParentName" class="form-control" autocomplete="off" placeholder="" />
                            <label asp-for="ParentName" class="control-label">Parent Name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group custom-labels">
                            <input asp-for="Mobile" class="form-control" autocomplete="off" placeholder="" />
                            <label asp-for="Mobile" class="control-label">Mobile</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group custom-labels">
                            <input asp-for="Status" class="form-control" autocomplete="off" placeholder="" />
                            <label asp-for="Status" class="control-label">Status</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group custom-labels">
                            <input asp-for="PreviousSchoolName" class="form-control" autocomplete="off" placeholder="" />
                            <label asp-for="PreviousSchoolName" class="control-label">Transfered From</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group custom-labels">
                            <select asp-for="ClassId" asp-items="ViewBag.ClaaNames" class="form-control form-select">
                                <option value="" selected>Please Select</option>
                            </select>
                            <label asp-for="ClassId" class="control-label">Select Class Name</label>
                            <input type="hidden" asp-for="ClassName" value="@Model.ClassName" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group custom-labels">
                            <input asp-for="AdmissionFees" class="form-control" value="@Model.AdmissionFees" autocomplete="off" placeholder="" />
                            <label asp-for="AdmissionFees" class="control-label">Admission Fees</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group custom-labels">
                            <input asp-for="AcadamicFees" readonly class="form-control" autocomplete="off" placeholder="" />
                            <label asp-for="AcadamicFees" class="control-label" disabled>Acadamic Fees</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="IsAcadamicFeesDiscountchangeMargin" style="width:15%; margin-top:8px">
                                <input type="checkbox" onchange="discountCheckboxToggle('IsAcadamicFeesDiscount')" class="toggle-switch-checkbox" asp-for="IsAcadamicFeesDiscount" />
                                <label class="toggle-switch-label" for="IsAcadamicFeesDiscount">
                                    <span class="toggle-switch-inner"></span>
                                    <span class="toggle-switch-switch"></span>
                                </label>
                            </div>
                            <div class="form-group custom-labels discountInput" id="IsAcadamicFeesDiscountInput" style="display:none; width: 100%">
                                <input asp-for="AcadamicFeesDiscount" onblur="updateTermFees()" class="form-control" autocomplete="off" placeholder="" />
                                <label asp-for="AcadamicFeesDiscount" class="control-label">Concession</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sliding Panel -->
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div id="quarterFeesContainer" class="sliding-panel mb-5">
                            <h3 class="text-center">Term Wise Fees Structure</h3>
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Term 1 Fees
                                    <span class="badge bg-primary rounded-pill">₹ <span id="term1fee"></span></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Term 2 Fees
                                    <span class="badge bg-primary rounded-pill">₹ <span id="term2fee"></span></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Term 3 Fees
                                    <span class="badge bg-primary rounded-pill">₹ <span id="term3fee"></span></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Term 4 Fees
                                    <span class="badge bg-primary rounded-pill">₹ <span id="term4fee"></span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group custom-labels">
                            <input asp-for="BooksAmount" readonly class="form-control" autocomplete="off" placeholder="" />
                            <label asp-for="BooksAmount" class="control-label" disabled>Books Amount</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group custom-labels has-value">
                            <select asp-for="StationaryId" class="form-control form-select">
                                <option value="" selected>Please Select</option>
                            </select>
                            <label asp-for="StationaryId" class="control-label">Uniform Size</label>
                            <input type="hidden" asp-for="UniformData" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group custom-labels">
                            <input asp-for="UniformAmount" readonly class="form-control" autocomplete="off" placeholder="" />
                            <label asp-for="UniformAmount" class="control-label" disabled>Uniform Amount</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group custom-labels">
                            <input asp-for="BeltTieSocksAmount" readonly class="form-control" autocomplete="off" placeholder="" />
                            <label asp-for="BeltTieSocksAmount" class="control-label" disabled>Belt/Tie/Socks Amount</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group custom-labels">
                            <select asp-for="TransportId" asp-items="ViewBag.TransportData" class="form-control form-select">
                                <option value="">Please select</option>
                            </select>
                            <label asp-for="TransportId" class="control-label">Transport</label>
                            <input type="hidden" id="hdnTransportId" value="@Model.TransportId" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group custom-labels">
                            <input asp-for="TransportAmount" readonly class="form-control" autocomplete="off" placeholder="" />
                            <label asp-for="TransportAmount" class="control-label" disabled>Transport Amount</label>
                        </div>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
                            <input type="submit" value="Save" class="btn btn-outline-primary" />
                        </div>
                    </div>
                    <div class="col-6">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            var transportData = @Html.Raw(Json.Serialize(ViewBag.TransportList));
            var classData = @Html.Raw(Json.Serialize(ViewBag.ClassList));
            var uniformData = @Html.Raw(Json.Serialize(ViewBag.UniformList));
            var classNamesLst = @Html.Raw(Json.Serialize(ViewBag.ClaaNames));

            function loadSelectedValues() {
                var selectedClassId = $('#ClassName').val();
                var selectedTransportId = $('#hdnTransportId').val();
                var selectedClass = classNamesLst.find(t => t.text == selectedClassId);
                var selectedTransport = transportData.find(t => t.id == selectedTransportId);
                if (selectedClass) {
                    setTimeout(() => {
                        $('#ClassId').val(selectedClass.value).trigger("change");
                        $('#ClassId').addClass('has-value');
                        $("#StationaryId option").filter(function () {
                            return $(this).text().trim() === $('#UniformData').val();
                        }).prop('selected', true);
                    }, 100);
                }
                if (selectedTransport) {
                    $('#TransportId').addClass('has-value');
                }

                if ($('#IsAcadamicFeesDiscount').is(':checked')) {
                    $('#IsAcadamicFeesDiscountInput').show();
                    setTimeout(() => {
                        updateTermFees();
                    }, 100);
                }
            }

            loadSelectedValues();

            $('#TransportId').change(function () {
                var selectedId = $(this).val();
                var selectedTransport = transportData.find(t => t.id == selectedId);
                if (selectedTransport) {
                    $('#TransportAmount').val(selectedTransport.amount);
                } else {
                    $('#TransportAmount').val('');
                }
            });

            $('#AcadamicYear').blur(function () {
                $('#ClassId').trigger("change");
            });

            $('#ClassId').change(function () {
                var selectedId = $("#ClassId option:selected").text();
                var acadamicYear = $('#AcadamicYear').val();
                var selectedAY = classData.find(t => t.name == selectedId && t.acadamicYear == acadamicYear.trim());
                var selectedUD = uniformData.filter(function (item) {
                    return item.className.includes(selectedId);
                });
                if (selectedAY) {
                    $('#BooksAmount').val(selectedAY.booksAmount);
                    $('#AcadamicFees').val(selectedAY.acadamicFees);
                    $('#UniformAmount').val();
                    $('#StationaryId').val();
                    $("#ClassName").val(selectedAY.name);
                    $('#StationaryId').addClass('has-value');
                    calcQuarterFees();
                } else {
                    $('#BooksAmount').val('');
                    $('#AcadamicFees').val('');
                    $('#UniformAmount').val('');
                    $('#StationaryId').val('');
                    $("#ClassName").val('');
                    $("#BeltTieSocksAmount").val('');
                    $('#StationaryId').removeClass('has-value');
                    calcQuarterFees();
                }
                if (selectedUD) {
                    let dropdown = $("#StationaryId");
                    dropdown.empty().append('<option value="">Select an option</option>');
                    $.each(selectedUD, function (index, item) {
                        dropdown.append(new Option(item.uniformInfo, item.id));
                    });
                }
                else {
                    let dropdown = $("#StationaryId");
                    dropdown.empty().append('<option value="">Select an option</option>');
                }
            });

            $('#StationaryId').change(function () {
                var selectedId = $(this).val();
                var selectedAY = uniformData.find(t => t.id == selectedId);
                if (selectedAY) {
                    $('#UniformAmount').val(selectedAY.amount);
                    $("#BeltTieSocksAmount").val(selectedAY.beltTieSocksAmount);
                    $('#UniformData').val(selectedAY.uniformInfo);
                } else {
                    $('#UniformAmount').val('');
                    $("#BeltTieSocksAmount").val('');
                    $('#UniformData').val('');
                }
            });
        });

        function discountCheckboxToggle(id) {
            if ($("#" + id).is(':checked')) {
                $("." + id + "changeMargin").css("margin-top", "-18px");
                $('#' + id + 'Input').show();
            } else {
                $("." + id + "changeMargin").css("margin-top", "8px");
                $('#' + id + 'Input').hide();
                if (id === "IsAcadamicFeesDiscount") {
                    $('#AcadamicFeesDiscount').val('');
                    updateTermFees();
                }
            }

        }

        function calcQuarterFees() {
            const $panel = $("#quarterFeesContainer");
            const academicFees = parseFloat($("#AcadamicFees").val());
            if (!isNaN(academicFees) && academicFees > 0) {
                const termFee = (academicFees / 4).toFixed(0);
                $('#term1fee').text(termFee);
                $('#term2fee').text(termFee);
                $('#term3fee').text(termFee);
                $('#term4fee').text(termFee);
                $panel.addClass("active");
                $panel.show();
            } else {
                $('#term1fee').text('');
                $('#term2fee').text('');
                $('#term3fee').text('');
                $('#term4fee').text('');
                $panel.hide();
                $panel.removeClass("active");
            }
        }

        function updateTermFees() {
            const academicFees = parseFloat($("#AcadamicFees").val());
            const academicFeesDiscount = parseFloat($("#AcadamicFeesDiscount").val());
            if (!isNaN(academicFees) && academicFees > 0
                && !isNaN(academicFeesDiscount) && academicFeesDiscount > 0) {
                const termFee = ((academicFees - academicFeesDiscount) / 4).toFixed(0);
                $('#term1fee').text(termFee);
                $('#term2fee').text(termFee);
                $('#term3fee').text(termFee);
                $('#term4fee').text(termFee);
            } else {
                $('#term1fee').text('');
                $('#term2fee').text('');
                $('#term3fee').text('');
                $('#term4fee').text('');
                calcQuarterFees();
            }
        }
    </script>
}
